
params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '60.GB'
    max_time   = '6.h'

    // Input data to test amplicon analysis
    input     = "$projectDir/../test_data/samplesheet_test.csv"
    outdir    = "$projectDir/testing"   
    tracedir  = "${params.outdir}/pipeline_info"
}
